<div class="container">
  <div class = "row">
    <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2'>
    <ul>
    <b><p id="f">Favorite Jobs</p></b>
    </ul>
    </div>
    <div class='col-lg-10 col-md-10 col-sm-10 col-xs-10'>
      <div id="posts">
        <%= render "jobsearch/job" %>
      </div>
      <center>
        <div class="pagination"></div>
      </center>
    </div>
  </div>
</div>

